[submodule "vim/bundle/vim-mix-format"]
	path = vim/bundle/vim-mix-format
	url = https://github.com/mhinz/vim-mix-format
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
